<div class="row">
    <div class="col-md-4 col-xl-4" *ngFor="let service of GST_Service">
       
        <div class="card widget-card-1" *ngIf="service.price !=0 ;else contactOnly">
        <div class="card-block-small">
        <i class="icofont icofont-architecture-alt bg-c-Moderate_cyan card1-icon"></i>
        <span class="text-c-Moderate_cyan f-w-600">Service-{{service.id}}</span><br>
        <h5>{{service.title}}  </h5>
        <div>
        <span class="f-left m-t-10 ">
            <h4>Rs. {{service.price}} </h4> 
        </span>
        <button class="btn btn-inverse btn-round btn-sm f-right" style="margin-top: 0.9em">Apply Service</button>
        </div>
        </div>
        </div>

        
        <ng-template #contactOnly>
            <div class="card widget-card-1" *ngIf="service.price ==0 ">
                <div class="card-block-small">
                <i class="icofont icofont-architecture-alt bg-c-Moderate_cyan card1-icon"></i>
                <span class="text-c-Moderate_cyan f-w-600">Service-{{service.id}}</span><br>
                <h5>{{service.title}} </h5>
                <div>
                <span class="f-left m-t-10 ">
                <h4>Rs. ---</h4>
                </span>
                <button class="btn btn-danger btn-round btn-sm f-right" style="margin-top: 0.9em">Contact Us</button>
            
                </div>
                </div>
            </div>
        </ng-template>
      

        
    </div>
    
   
</div>
  
  

 