<div class="card">
    <!-- <div class="card-header">
      <h3 class="card-header-text">Track GST Reports</h3>
    </div> -->
    <div class="card-body">
        <div class="row ">
            <div class="col-md-12 col-xl-12">
                <h4><span class="text-c-yellow">Proposal</span></h4>
                </div>
                </div>
      <div class="row  icon-btn">
          <div class="col-md- col-xl-12">
              
                    
  
                   <!-- next row///////////// -->
                      <div class="form-group row">
  
                          <div class="table-responsive">
                              <table class="table table-hover ">
                                <thead>
                                <tr>
                                 
                                  <th>#</th>
                                  <th>Customer</th>
                                  <th>GSTIN</th>
                                  <th>ITR</th>
                                  <th>Month</th>
                                  <th>Year</th>
                                  <th>Status</th>
                                  <!-- <th></th> -->
                                 
                                </tr>
                                </thead>
                                <tbody>
                                <!-- <tr  *ngFor="let service of serviceList  | paginate: { itemsPerPage: 5, currentPage: p }; let i=index">
                                  
                                  <td>{{i+1}}</td>
                                  <td>{{service.name}}</td>
                                  <td>{{service.service}}</td>
                                  <td>{{service.contact}}</td>
                                  <td>{{service.createTime}}</td>
                                  
                                </tr> -->
                               
                              
                                </tbody>
                              </table>
                              <pagination-controls (pageChange)="p = $event"></pagination-controls>
                            </div>
  
  
                        </div>
  
                    </div>
                  </div>
                  </div>         