<div class="card">

    <!-- <div class="col-md-4 col-xl-4">
      <div class="card widget-statstic-card">
        <div class="card-header">
           <div class="card-header-left">
            <h4>Your Wallet Balance</h4>
          </div>
        </div>
        <div class="card-block">
          <i class="icofont icofont-wallet st-icon bg-c-yellow"></i>

          <div class="text-center">
            <h4 class="d-inline-block">
              Rs. 2500/-
            </h4>

          </div>
        </div>
      </div>
    </div> -->
  <div class="card-header">
    <h3 class="card-header-text">Your Wallet</h3>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-4 col-xl-4">
        <div class="card widget-card-1">
        <div class="card-block-small">
        <i class="icofont icofont-wallet bg-c-yellow card1-icon"></i>
        <span class="text-c-blue "> Avalable Balance</span><br>
        <h4>Rs. {{walletAmount}}/-</h4>
        </div>
        </div>
    </div>

    <div class="col-md-8 mobile-inputs">
      <h4 class="sub-title text-center"><span class="text-c-blue"></span></h4>
      <form [formGroup]="addWalletAmountForm" (ngSubmit)="addWalletAmount()">
      <div class="form-group row">
      <div class="col-sm-3"> </div>
      <div class="col-sm-6 ">
       <input type="number" class="form-control form-control-warning" formControlName="amount" placeholder="Emter Amount....">
      </div>
      <div class="col-sm-3"></div>
      </div>
      <div class="form-group row " >
          <div class="col-sm-3"> </div>
          <div class="col-sm-6 text-center">
              <button type="submit" class="btn btn-grd-warning " style="color: black" >ADD To Wallet </button>
          </div>
          <div class="col-sm-3"></div>

      </div>
      </form>
      </div>

      <div class="col-md-12 col-xl-12">
          <h4><span class="text-c-blue"> Previous Transactions</span></h4>
        <div  class="table-responsive">
              <table  class="table table-hover">
                <thead >
                <tr >

                  <th >Transaction ID</th>
                  <th >Date</th>
                  <th >Status</th>
                  <th >Amount</th>
                </tr>
                </thead>
                <tbody >
                <tr >

                  <td >1342367456573456</td>
                  <td >2/08/2018</td>
                  <td style="color: green">Success</td>
                  <td >Rs. 9000</td>
                </tr>
                <tr >

                  <td >2343456878933457</td>
                  <td >27/07/2018</td>
                  <td  style="color: red">Pending</td>
                  <td >Rs. 1500</td>
                </tr>
                <tr >

                  <td >3346568454882345</td>
                  <td >19/07/2018</td>
                  <td style="color: green">Success</td>
                  <td >Rs. 3000</td>
                </tr>
                </tbody>
              </table>
            </div>
        </div>

    </div>
  </div>
  </div>

  <ng2-toasty [position]="position"></ng2-toasty>



















