<div class="card">
 
    <div class="card-header">
      <h3 class="card-header-text">New Registration</h3>
    </div>
    <div class="card-body">
      <div class="row">
       
     
      <div class="col-md- col-xl-12">
        
        <form>
        <div class="form-group row">
            <div class="col-sm-6 ">
              <h5><label>Full Name</label></h5>
                <input type="text" class="form-control " placeholder="Enter Name" value="Shiva Rathi"> 
               </div>
        <div class="col-sm-6 ">
            <h5><label>Email Address (OTP will sent to this email)</label></h5>
         <input type="email" class="form-control " placeholder="Enter Email" value="shiva@picsaxis.com"> 
        </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6 ">
             <h5> <label>State </label></h5>
                <input type="text" class="form-control " placeholder="Enter State" value="Haryana"> 
               </div>
        <div class="col-sm-6 ">
            <h5><label>District</label></h5>
         <input type="text" class="form-control " placeholder="Enter District" value="Gurugram"> 
        </div>
       
        </div>
        <div class="form-group row">
            <div class="col-sm-6 ">
              <h5><label>Business Legal Name</label></h5>
                <input type="text" class="form-control " placeholder="Enter Business Name" value="Picsaxis Pvt. Ltd." > 
               </div>
        <div class="col-sm-6 ">
            <h5><label>Mobile (OTP will sent to this number)</label></h5>
         <input type="number" class="form-control"  placeholder="Enter Mobile " value="8826721105"> 
        </div> 
        </div>
      
       
        <div class="form-group row " >
            <div class="col-sm-3"> </div>
            <div class="col-sm-6 text-center">
                <a href="/customer-offer-dashboard" class="btn btn-grd-success "  >Apply New GST </a>
            </div>
            <div class="col-sm-3"></div>
          
        </div>
        </form>
      </div>
      </div>
    </div>
    </div>
